@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply border-2 border-tertiary rounded-md px-2 py-1 w-full;
  @apply mb-2;
}

img {
  max-height: 100%;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-primary;
}

h1 {
  @apply text-3xl font-semibold;
}

label {
  @apply text-primary font-semibold;
}

.btn-default {
  @apply px-4 py-1 rounded-md bg-genBg text-secondary transition duration-300 border border-genBg;
}

.btn-default:hover {
  @apply bg-secondary text-genBg;
}

.btn-primary {
  @apply bg-primary text-secondary min-w-[8rem] font-semibold px-4 py-1 rounded-md transition duration-300 border border-primary;
}

.btn-primary-danger {
  @apply bg-danger text-secondary min-w-[8rem] font-semibold px-4 py-1 rounded-md transition duration-300;
}

.btn-primary-danger:hover {
  @apply scale-110 transition duration-300;
}

.btn-primary:hover,
table.basic a:hover {
  @apply bg-secondary text-primary border-tertiary;
}

.disabled {
  @apply bg-secondary text-primary border-tertiary;
}

table.basic {
  @apply w-full;
}

table.basic thead tr td {
  @apply bg-tertiary font-semibold;
}

table.basic tr td {
  @apply border border-genBg p-1;
}

table.basic a {
  @apply bg-primary text-secondary text-sm py-1 px-2 rounded-md inline-flex gap-1 transition duration-300 border border-primary items-center mr-2;
}

.disabled-link {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}